
.circle-icon-large {
  width: 120px;
  height: 120px;
  border: 8px solid rgb(29, 240, 236, 0.55);;
  box-shadow: 0px 0px 5px rgb(14, 16, 24, 0.5);
  transform: translate(-50%);
}

.inner-icon-large {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3.2);
  color: rgb(255, 255, 255, 0.7);
}