.toolbar {
  position: relative
}

.navbar {
  background-color: #2c2e2e;
  margin: auto;
  position: absolute;
  left: 50%;
  top: -13%;
  transform: translate(-50%, 0%);
}

.navbar-menuicon {
  padding-right: 5px;
  vertical-align: middle;
}