@media (max-width: 1000px) {
  .toolbar-title {
    display: none;
  }

  .toolbar-subtitle {
    display: none;
  }

  .toolbar-subtitle-separator {
    display: none;
  }
}

.toolbar-title {
  padding-bottom: 25px;
  position: absolute;
}

.toolbar-subtitle {
  padding-top: 33px;
  position: relative;
}

.toolbar-subtitle-separator {
  padding-top: 30px;
  padding-left: 7px;
  padding-right: 7px;
  position: relative;
}