.toolbar-title {
  position: absolute;
  top: 0;
}

.toolbar-subtitle {
  position: absolute;
  top: 40px;
  display: flex;
}

.toolbar-subtitle .toolbar-subtitle-text {
  padding-top: 1px;
}

.toolbar-subtitle .toolbar-subtitle-separator {
  padding: 0px 7px;
}